<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tareas</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5">
    <a href="/" class="btn btn-primary mt-3">Inicio</a>
    <h2>Listado de Tareas</h2>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Fecha de inicio</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="task : ${tasks}">
            <td th:text="${task.id}"></td>
            <td th:text="${task.taskName}"></td>
            <td th:text="${task.taskDescription}"></td>
            <td th:text="${task.startDate}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
